.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.blu {
  background-color: #0061ff;
}

.grey {
  background-color: #f3f5f9;
  padding: 50px 0;
}

.white {
  background-color: white;
  height: 500px;
}

.box {
  width: 80%;
  margin: 0 auto ;
}

.navbar {
  height: 70px;
  line-height: 70px;
  background-color: white;
  z-index: 99999;
}


.img {
  max-width: 200px;
  vertical-align: middle;
  padding-right: 10px;
}

ul li {
  display: inline;
  padding: 5px;
}

li a {
  color: #031b4f;
}

a i {
  color: grey;
}

.btn {
  color: #076aff;
  border-color: #076aff;
}
/* FINE HEADER  */

.banner {
  background-image:  url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  margin-top: 50px;
}

.jumbotron {
  background-color: inherit;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.greys {
  background-color: #f3f5f9;
  padding: 0;
  border-radius: 10px;
}

.bottom {
  margin-bottom: 40px;
}

.padding-top {
  margin-top: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 0;
}

.blue {
  background-color: #0069ff;
  color: white;
  width: 100%;
}

.but {
  margin-top: 40px;
}

.whites {
  background-color: white;
  color: #0069ff;
  border-color: #0069ff;

}

.git {
    margin-left: 20px;
}

/* FINE BANNER  */

.partner img {
  padding: 10px;
}

a , a i {
  color:  #0069ff;
}

/* FINE PARTNER */

#menu {
  border-left: 1px solid #0069ff;
}

#menu li {
  display: block;
}

/* FINE SEZIONE UL VERTICALE */

.blu2 {
  background-color: #031b4e;
  padding: 50px 0 ;
}

.world {
  margin: 0 auto;
  color: white;
}

.margin-bot {
  color: white;
  border-bottom: 1px solid #405279;
  padding: 5px;
}

/* FINE SEZIONE WORLD */

.rocker {
  padding: 10px;
  background-color: white;
}

#desc {
  font-size: 20px;
  padding: 30px;
  margin-top: 10px;
}
/* FINE SEZIONE CEO */

.started {
  background-image: url(https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format);
  padding: 60px;
}

.line {
  height: 50px;
  line-height: 50px;
}

#h2 {
  font-size: 35px;
  color: white;
}

#account {
  padding: 10px 20px;
  color:  #0069ff;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: auto;
  font-size: 20px;
}
/* FINE GET STARTED */


footer {
  background-color: #010e28;
  height: 700px;
}

.mod {
  padding: 70px;
  border-bottom: 1px solid #343e53;
}

#h4 {
  color: white;
}

#under {
  padding-inline-start: 0;
}

#under li {
  display: block;
}

#under li a {
  color: #748292;
}

.social {
  height: 80px;
  padding: 20px;
  line-height: 80px;
}

#block {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.col-lg-5 p {
  color: #748292;
  font-size: 16px;
}

.network i {
  color: white;
  font-size: 20px;
  padding: 10px;
}
