.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.blu {
  background-color: #0061ff;
  height: 700px;
}

.grey {
  background-color: #f3f5f9;
  padding: 50px 0;
}

.white {
  background-color: white;
  height: 500px;
}

.box {
  width: 80%;
  margin: 0 auto ;
}

.navbar {
  height: 70px;
  line-height: 70px;
  background-color: white;
  z-index: 99999;
}


.img {
  max-width: 200px;
  vertical-align: middle;
  padding-right: 10px;
}

ul li {
  display: inline;
  padding: 5px;
}

li a {
  color: #031b4f;
}

a i {
  color: grey;
}

.btn {
  color: #076aff;
  border-color: #076aff;
}
/* FINE HEADER  */

.banner {
  background-image:  url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  margin-top: 50px;
}

.jumbotron {
  background-color: inherit;
  padding-top: 200px;
  padding-bottom: 200px;
  color: white;
}

.greys {
  background-color: #f3f5f9;
  padding: 0;
  border-radius: 10px;
}

.bottom {
  margin-bottom: 40px;
}

.padding-top {
  margin-top: 200px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 0;
}

.blue {
  background-color: #0069ff;
  color: white;
  width: 100%;
}

.but {
  margin-top: 40px;
}

.whites {
  background-color: white;
  color: #0069ff;
  border-color: #0069ff;

}

.git {
    margin-left: 20px;
}

/* FINE BANNER  */

.partner img {
  padding: 10px;
}

a , a i {
  color:  #0069ff;
}

/* FINE PARTNER */

#menu {
  border-left: 1px solid #0069ff;
}

#menu li {
  display: block;
}

/* FINE SEZIONE UL VERTICALE */



footer {
  background-color: #010e28;
  height: 700px;
}
